.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    width: 30rem;
    height: 90vh;
    background-color:black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.resultbar{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonsbar{
    width: 100%;
    height: 80vh;
    justify-content: space-evenly;

    display: flex;
    flex-direction: column;
}
.input{
    width: 35rem;
    height: 10vh;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
    border-radius: 15px;
}
.buttonsrow{
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.but{
    width: 100px;
    height: 10vh;
    border-radius: 10px;
    background-color: rgb(189, 119, 27);
    font-size: 30px;
    color: white;
}
.bute{
    width: 200px;
    height: 10vh;
    background-color: rgb(189, 119, 27);
    border-radius: 10px;
    font-size: 30px;
    color: white; 
}