@media (max-width:500px) {


    *{
        padding: 0%;
        margin: 0%;
    }
    .container{
        width: 100%;
        height: 100vh;
       background-color: azure;
       
   
    }
    .calculator{
        width: 100%;
        height: 90vh;
        background-color:black;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 70px;
       
    }
    .resultbar{
        width: 95%;
        height: 15vh;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
        
    }
    .input{
        width: 100%;
        height: 10vh;
        font-size: 35px;
        font-family: 'Franklin Gothic Medium';
        border-radius: 15px;
    }
    .buttonsrow{
    width: 100%;
    height: 7vh;
    margin-top: 15px;

}
.buttonsbar{
    width: 100%;
    height: 75vh;
    justify-content: space-evenly;

    display: flex;
    flex-direction: column;
}
.but{
    width: 70px;
    height: 10vh;
    border-radius: 10px;
    background-color: rgb(189, 119, 27);
    font-size: 30px;
    color: white;
}
.bute{
    width: 160px;
    height: 10vh;
}

    

    
}